@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Add an engineer to @Html.DisplayFor(model => model.MachineName)</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <br>
  <br>

  <input type="submit" value="Save" />
}

<br>
<p>@Html.ActionLink("back to Msvhine Details", "Details", new {id = Model.MachineId })</p>