@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Add a machine to @Html.DisplayFor(model => model.EngineerName)</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <br>
  <br>

  <input type="submit" value="Save" />
}

<br>
<p>@Html.ActionLink("back to Engineer Details", "Details", new {id = Model.EngineerId })</p>