@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a new engineer:</h3>

<hr />

@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.EngineerName, new { @class = "form-control", required = "required"})

  <br>
  @Html.Label("Pick machine to assign engineer to:")
  @Html.DropDownList("MachineId")
  <br>

  <input type="submit" value="Submit" class="btn btn-default" required="true" />
}

<br>
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>