@{
  Layout = "_Layout";
}
@model List<Factory.Models.Machine>
@using Factory.Models

<h1> Welcome to Mr.SillyStrings Factory Repair Interface <h1>

<h3>Machines available:</h3>
@if (Model.Count == 0)
      {
        <p>There are not currently any machines available</p>
      }
 @foreach(Machine machine in Model)
      {
        <li>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new {id = machine.MachineId })</li>
      }


<h3>Engineers available:</h3>

@if (@ViewBag.AllEngineers.Count == 0)
      {
        <p>There are not currently any Engineers available</p>
      }

@foreach(Engineer engineer in @ViewBag.AllEngineers)
      {
        <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new {id = engineer.EngineerId })</li>
      }

<li>@Html.ActionLink("See all engineers", "Index", "Engineers")</li>
<li>@Html.ActionLink("See all machines", "Index", "Machines")</li>
